h1 {
	font-size: 30px;
	margin: 0;
	margin-bottom: -15px;
	margin-top: 0px;
	text-align: center;
}
h2 {
	color: #E07942;
	font-size: 35px;
	padding-bottom: 10px;
	padding-top: 15px;
	text-align: center;
}
h4 {
	text-align: center;
}
p {
	text-align: left;
}
#refreshBtn:hover, #copyBtn:hover, #generateBtn:hover {
	background-color: #ffa56e;
	color: black;
}
#password {
	background-color: #fff;
	border: 3px solid #17A2B8;
	border-radius: 40px;
	color: black;
	height: fit-content;
	padding: 25px;
	text-align: center;
	width: 100%;
}

#refreshBtn, #generateBtn, #copyBtn {
	background-color: #E07942;
	color: #fff;
    height: 4rem;
}
.col-lg-10 {
	margin: auto;
}
.jumbotron {
	background-color: #eee;
	margin-top: -50px;
}
.row {
	padding: 10px;
}
.container-fluid {
	background-color: #fff;
	border-radius: 5px;
	padding: 20px;
}
.card {
	background-color: #AEE2EB;
	border: 3px solid #17A2B8;
	border-radius: 10px;
	padding: 30px;
	width: 100%;
}
.btn {
	border-radius: 40px;
	font-size: larger;
	margin-bottom: 30px;
	width: 30%;
}
.btn-info {
	float: left;
	margin-left: 25px;
}
@media screen and (max-width: 990px) {
	.card {
		width: 100%;
	}
}
@media screen and (max-width: 740px) {
	.btn {
		width: 40%;
	}
}
@media screen and (max-width: 590px) {
	.btn {
		padding-bottom: 10px;
	}
	.jumbotron {
		padding-top: 100px;
	}
}
@media screen and (max-width: 400px) {
	.btn {
		font-size: 15px;
	}
}
