h1 {
	font-size: 30px;
	margin: 0;
	margin-bottom: -15px;
	margin-top: 0px;
	margin-top: 0px;
	text-align: center;
}
h2 {
	font-size: 25px;
	padding-bottom: 10px;
	padding-top: 15px;
}
h4 {
	text-align: center;
}
p {
	text-align: left;
}

output {
    background-color: #fff;
    border: 2px solid #17A2B8;
    padding: 10px;
    border-radius: 40px;
    text-align: center;
    width: 100%;
    color: #ccc;
}
#password {
    color: black;
}
.jumbotron {
	background-color: #eee;
	margin-top: -50px;
}
.row {
	padding: 10px;
}
.container-fluid {
	background-color: #fff;
	border-radius: 5px;
	padding: 20px;
}
.card {
	border: 3px solid #17A2B8;
	padding: 30px;
    width: 100%;
    background-color: #eee;
    border-radius: 10px;
}
.btn {
	border-radius: 40px;
	font-size: larger;
	height: 10%;
	margin-bottom: 30px;
	width: 30%;
}
.btn-info {
	float: left;
	margin-left: 20px;
}
.btn-outline-info {
	border: 1px solid #17A2B8;
	float: right;
	margin-right: 20px;
}
@media screen and (max-width: 990px) {
	.card {
		width: 100%;
	}
}
@media screen and (max-width: 740px) {
	.btn {
		width: 40%;
	}
}
@media screen and (max-width: 590px) {
	.btn {
		padding-bottom: 10px;
	}
	.jumbotron {
		padding-top: 100px;
	}
}
